* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
}

#main_container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#game_container {
    width: 930px;
    height: 530px;
    display: flex;
    justify-content: space-between;
}

#computer_container {
    padding: 10px 0;
    margin: 12px 0;
    color: #d11250;
    letter-spacing: 2px;
    line-height: 1.3;
    font-size: 24px;
}
#player_container {
    padding: 10px 0;
    margin: 12px 0;
    color: #d11250;
    letter-spacing: 2px;
    line-height: 1.3;
    font-size: 24px;
}
#player_container div:nth-child(1){
    border-bottom: 1px solid #00ACE9;
    width: 350px;
    padding-bottom: 12px;
    display: flex;
    justify-content: center;
}

#computer_container div:nth-child(1) {
    border-bottom: 1px solid #00ACE9;
    width: 350px;
    padding-bottom: 12px;
    display: flex;
    justify-content: center;
}

#computer_hand {
    width: 350px;
}

#computer_hand img {
    width: 100%;
    height: 100%;
}

#result_messages{
    width: 200px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    color: #d11250;
    letter-spacing: 2px;
    line-height: 1.3;
    font-size: 32px;
}

#player_hand img {
    width: 100%;
    height: 100%;
}

#buttons_container{
    width: 930px;
    gap: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#buttons_container button{
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: #00ACE9;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}
.shake {
	-webkit-animation: shake 1.5s;
	-moz-animation: shake 1.5s;
	-ms-animation: shake 1.5s;  
	animation: shake 1.5s;
}

@-webkit-keyframes shake {
	0%, 100% {-webkit-transform: translateY(0);} 
	14%, 43%, 71%, 95%, 100% {-webkit-transform: translateY(30px);
						 -webkit-animation-timing-function: ease-out; } 
	29%, 57%, 86% {-webkit-transform: translateY(-30px);
				   -webkit-animation-timing-function: ease-out} 
}
@-moz-keyframes shake {
	0%, 100% {-moz-transform: translateY(0);} 
	14%, 43%, 71%, 95%, 100% {-moz-transform: translateY(30px);
						 -moz-animation-timing-function: ease-out; } 
	29%, 57%, 86% {-moz-transform: translateY(-30px);
				   -moz-animation-timing-function: ease-out} 
}
@-o-keyframes shake {
	0%, 100% {-o-transform: translateY(0);} 
	14%, 43%, 71%, 95%, 100% {-o-transform: translateY(30px);
						 -o-animation-timing-function: ease-out; } 
	29%, 57%, 86% {-o-transform: translateY(-30px);
				   -o-animation-timing-function: ease-out} 
}
@-ms-keyframes shake {
	0%, 100% {-ms-transform: translateY(0);} 
	14%, 43%, 71%, 95%, 100% {-ms-transform: translateY(30px);
						 -ms-animation-timing-function: ease-out; } 
	29%, 57%, 86% {-ms-transform: translateY(-30px);
				   -ms-animation-timing-function: ease-out} 
}
@keyframes shake {
	0%, 100% {transform: translateY(0);} 
	14%, 43%, 71%, 95%, 100% {transform: translateY(30px);
						 animation-timing-function: ease-out; } 
	29%, 57%, 86% {transform: translateY(-30px);
				   animation-timing-function: ease-out} 
}